html {
	font-family: 'Noto Sans', sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

/* header {} */

#banner {

	font-family: 'RocknRoll One',
		sans-serif;
	width: 100%;
	position: relative;
	background-color: rgb(89, 209, 159);
	color: white;
}

#menu {
	font-size: 25px;
	background-color: rgb(230, 230, 230);
	margin-top: 5px;
}



canvas {
	width: 30%;
	min-width: 500px;
	border: solid 1px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

#maskcanvas {
	z-index: 2;
}

#canvas {
	z-index: 1;
}

#stage {
	width: 200px;
	height: 200px;
	text-align: center;
}

#menu .list1 {
	margin: 0;
	float: left;
	padding-left: 10px;
}

.list1 li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}

#menu .list2 {

	margin: 0;
	text-align: right;
	padding-right: 10px;
	padding-left: 10px;
}

.list2 li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}

#maintitle {
	font-size: 50px;
	margin: 10px;
}

#subtitle {
	font-size: 30px;
	margin: 0;
}

@media only screen and (max-width:750px) {
	#maintitle {
		font-size: 30px;
	}

	#subtitle {
		font-size: 18px;
	}

	canvas {
		width: 80%;
		min-width: 0px;
	}

}

input {
	font-size: 25px;
	margin: 5px 0px;
}

div {
	font-size: 25px;
}

span {
	font-size: 20px;
}

#clr {
	margin-top: 20px;
}

#numin {
	margin: 20px;
}

#width {
	width: 3em;
}

#textarea {
	font-size: 20px;
	width: 80%;
	line-height: 1.2em;
	letter-spacing: -0.2em;
}

#height {
	width: 3em;
}

#setbtn {
	margin-bottom: 0px;
}

/* #canvas {
	background-color: rgb(228, 228, 228);
} */
